---
// Spotify component for displaying track embeds
---

<div id="spotify">
  <iframe
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/1GcqDUHJETSMWIbN2ShwiM?utm_source=generator"
    height="352"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
  <!-- <iframe
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/1GcqDUHJETSMWIbN2ShwiM?utm_source=generator"
    height="352"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
  <iframe
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/1GcqDUHJETSMWIbN2ShwiM?utm_source=generator"
    height="352"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe> -->
</div>

<style>
  #spotify {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
    margin-bottom: 20px;
  }

  #spotify iframe {
    width: 100%;
  }
</style>
